@using MusicSchool.Repositories.Abstract;
@model List<MusicSchool.Models.Domain.ConcertProgramModel>
@inject IConcertProgramService concertProgramService
@inject IAdminService adminService
@{
    
}
<div class="cont">
    <a class="functions" href="/Admin/SetConcertProgram">Додати концертну програму</a>
<table id="concert-program">
    <tr>
        <td></td>
        <td>Учень</td>
        <td>Викладач</td>
        <td>Назва програми</td>
        <td></td>
        <td></td>
    </tr>
    
        @{
            int i = 1;
            foreach (var item in Model)
            {
                <tr>
                <td>@i</td>
                <td>
                    @adminService.GetCurrentStudent(item.StudentId).LastName 
                    @adminService.GetCurrentStudent(item.StudentId).Name
                    @adminService.GetCurrentStudent(item.StudentId).Patronymic
                </td>
                <td>
                    @adminService.GetCurrentTeacher(item.TeacherId).LastName
                    @adminService.GetCurrentTeacher(item.TeacherId).Name
                    @adminService.GetCurrentTeacher(item.TeacherId).Patronymic
                </td>
                <td>@item.ProgramName</td>
                <td><a class="functions" href="/Admin/UpdateConcertProgram?Id=@item.Id">Змінити</a></td>
                <td><a class="functions" href="/Admin/DeleteConcertProgram?Id=@item.Id">Видалити</a></td>
                
                </tr>
                i++;
            }
        }
        
    
</table>
</div>
