@using MusicSchool.Models.DTO;
@using MusicSchool.Repositories.Abstract;
@model SetConcertProgramModel
@inject IAdminService adminService

@{
    var teacher = adminService.GetTeacherList();
    var student = adminService.GetStudentList();
}

<div class="center-cont-reg">
    <div class="action">Створення програми</div>
    <form method="post" asp-controller="Admin" asp-action="SetConcertProgram" autocomplete="off">
        <div class="form-container">
            <div class="data-reg">
                <div class="input-container">
                    <label asp-for="StudentId" for="StudentId">Учень</label>
                    <select asp-for="StudentId" id="StudentId">
                        @{
                            foreach (var item in student)
                            {
                                <option value="@item.Id">@item.LastName @item.Name @item.Patronymic</option>
                            }
                        }
                    </select>
                </div>
                <div class="message-box">
                    <span asp-validation-for="StudentId"></span>
                </div>
                <div class="input-container">
                    <label asp-for="TeacherId" for="TeacherId">Викладач</label>
                    <select asp-for="TeacherId" id="TeacherId">
                        @{
                            foreach (var item in teacher)
                            {
                                <option value="@item.Id">@item.LastName @item.Name @item.Patronymic</option>
                            }
                        }
                    </select>
                </div>
                <div class="message-box">
                    <span asp-validation-for="TeacherId"></span>
                </div>
                <div class="input-container">
                    <label asp-for="ProgramName" for="ProgramName">Програма</label>
                    <input type="text" placeholder="ProgramName" asp-for="ProgramName">
                </div>
                <div class="message-box">
                    <span asp-validation-for="ProgramName"></span>
                </div>


            </div>
            @if (TempData["msg"] != null)
            {
                <div class="message-box">
                    <span class="text-info">@TempData["msg"]</span>
                </div>
            }
            <div class="button-container">
                <button class="btn-default" type="submit">Створити</button>
            </div>
        </div>
    </form>
</div>