@using MusicSchool.Models.Domain;
@using MusicSchool.Repositories.Abstract;
@model List<TeacherModel>
@inject IAdminService adminService

@{
    var positions = adminService.GetTeacherPositionList();

    foreach (var itemPosition in positions)
    {

        <h2>@itemPosition.Name</h2>
        <table id="list">
            @{
                foreach (var itemTeacher in adminService.GetTeacherList(itemPosition.Id))
                {

                    <tr>
                        <td>@itemTeacher.LastName @itemTeacher.Name @itemTeacher.Patronymic</td>
                        <td>@itemTeacher.BirthDay.ToShortDateString()</td>
                        <td>@itemTeacher.Email</td>
                        <td><a class="functions" href="/Admin/UpdateTeacherInfo?Email=@itemTeacher.Email">Змінити</a></td>
                        <td><a class="functions" href="/Admin/TeacherDelete?Email=@itemTeacher.Email">Видалити</a></td>
                        <td><a class="functions" href="/Admin/TeacherClassSchedule?Id=@itemTeacher.Id">Переглянуи графік</a></td>
                    </tr>


                }
            }
        </table>
    }
}